.container {
  width: 100vw;

  > img {
    z-index: -1;
  }
}

.descriptionContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
  width: 40%;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 1px 1px 5px black;
}

.descriptionTitle {
  text-align: center;
  font-size: 1.75em;
  -webkit-text-stroke-width: 1px;
}

.pageHeading {
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: white;
  padding-top: 2.5em;
  letter-spacing: 0.1em;
  text-shadow: 0 0.5px 10px black;
}

@media (max-width: 1024px) {
  .descriptionContainer {
    width: 100%;
  }
  .pageHeading {
    letter-spacing: 0;
  }
}
