.searchBar {
  input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #d4d6db;
    border-radius: 0.375rem;
    font-weight: 400;
    line-height: 20px;
  }

  @media (max-width: 640px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
