.main {
  min-height: 100dvh;
  padding-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0rem 12rem;

  > img {
    z-index: -1;
  }

  color: white;
}

.pageHeading {
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: white;
  padding: 1em 0 0 0;
  letter-spacing: 0.1em;
  text-shadow: 0 0.5px 10px black;
  font-weight: 450;
}

.application {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;

  min-width: 20%;
  max-width: 40%;
}

.applicationDescription {
  padding: 1em 0 3em 0;
  font-weight: 600;
  font-size: 1.2em;
}

.applicationContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;

  .applicationTitle {
    font-size: 1.8em;
    font-weight: 600;
  }

  .applicationDescription {
    font-size: 1.1em;
    font-weight: 400;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0rem 2rem;
  }
  .pageHeading {
    letter-spacing: 0;
    padding-top: 0.8em;
  }
  .application {
    min-width: 100%;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0rem 2rem;
  }
  .pageHeading {
    font-size: 2.7em;
  }
}

@media screen and (max-height: 768px) {
  .container {
    padding: 0rem 2rem;
  }
  .pageHeading {
    padding-top: 0.5em;
    font-size: 3.6em;
  }
}

.chevronBtn {
  margin: 0 0.5rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevronIconLeft {
  display: inline-block;
  transform: rotate(90deg);
  width: 32px;
  height: 32px;
}

.chevronIconRight {
  display: inline-block;
  transform: rotate(-90deg);
  width: 32px;
  height: 32px;
}

.chevronSvg {
  fill: #fff;
  width: 32px;
  height: 32px;
}

.monthScrollContainer {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* Optional: hide scrollbar */
  scrollbar-width: none;
}
.monthScrollContainer::-webkit-scrollbar {
  display: none;
}
