.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #121212;
  text-align: center;
  color: white;
  padding: 2rem 12rem;
}

.title {
  font-size: 2rem;
}

.description {
  font-size: 1.25rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 2rem 2rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .description {
    font-size: 1.25rem;
  }
}

.teamMembers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 50px;
}

@media (max-width: 768px) {
  .teamMembers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .teamMembers {
    grid-template-columns: 1fr;
  }
}

.teamMemberImage {
  position: relative;
  width: 250px;
  height: 200px;
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
}
