.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
  animation: fadeIn 0.2s ease-out;
}

.popupContent {
  padding: 2rem;
  position: relative;
  max-width: 100dvw;
  max-height: 100dvh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // Base state
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.popupEnter {
  opacity: 1;
  transform: scale(1);
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px 6px 0 0;
  cursor: pointer;
}

.popupLayout {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;

  :first-child div {
    display: flex;
    flex-direction: column;
  }
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.popupForm {
  width: 100%;
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.textFieldInput {
  resize: none;
  margin-top: 0.25rem;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background-color: white;
  font-size: 0.875rem;
  color: #4b5563;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 0.5rem;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
  }
}

.editSponsorCell {
  display: flex;
  justify-content: center;
  align-items: center;

  & > span {
    cursor: pointer;
  }
}

.sponsorSelect {
  margin-top: 0.25rem;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background-color: white;
  font-size: 0.875rem;
  color: #4b5563;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 0.5rem;
}

@media (max-width: 1024px) {
  .popupLayout {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .popupForm {
    grid-template-columns: 1fr;
  }

  .popupContent {
    padding: 2rem;
    max-width: unset;
    max-height: unset;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
}
