.basicButton {
  background-color: #474747;
  border-radius: 6px;
  border-width: 0;
  box-shadow:
    rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0,
    rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 44px;
  line-height: 1.15;
  outline: none;
  padding: 0 25px;
  text-align: center;
  transition:
    all 0.2s,
    box-shadow 0.08s ease-in;
}
