.signInLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portalContent {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  width: 100%;
  max-width: 100dvw;
  padding: 24px;
  height: 100%;
  overflow-x: hidden;
  * table {
    width: 100%;
  }
}

.unverifiedPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  > a {
    text-decoration: none;
    color: black;
    background-color: var(--primary-helios);
    padding: 10px 20px;
    border-radius: 5px;
  }
}

@media (max-width: 1024px) {
  .portalContent {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .portalContent {
    padding: 16px;
    row-gap: 20px;
  }
}

@media (max-width: 320px) {
  .portalContent {
    padding: 12px;
  }
}
