.portalPageHeaderLayout {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  background-color: beige;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
}

.profilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.usersTable {
  color: black;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: beige;
    text-align: left;
  }

  th,
  td {
    position: relative;
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
    height: 100px;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid beige;
  }
}