.container {
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  > img {
    z-index: -1;
    
  }
}

.descriptionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #000;

  > div {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 3%;
  }
}

.formInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #D9D9D9;
  border-radius: 3%;
  font-family: sans-serif;
  
}

.submitButton {
  width: 100%;
  height: 5vh;
  background-color: #2C2C2C;
  color: #fff;
  border-radius: 10px;
  border: 0px;
  font-size: large;
  font-family: sans-serif;

}

.pageHeading {
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: white;
  padding-top: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: 0 0.5px 10px black;
}

@media (max-width: 1024px) {
  .descriptionContainer {
    width: 100%;
    font-size: 1.1rem;
  }
  .pageHeading {
    letter-spacing: 0;
    padding-top: 1rem;
    font-size: 4rem;
  }
}
