.container {
  height: 100vh;

  > img {
    z-index: -1;
  }
}

.descriptionContainer {
  width: 100%;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 1px 1px 5px black;
  text-align: center;
  display: flex;
  justify-content: center;

  > div {
    width: 75%;
    padding: 20px;
    background-color: rgba(114, 114, 114, 0.6);
  }
}

.pageHeading {
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: white;
  padding-top: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: 0 0.5px 10px black;
}

@media (max-width: 1024px) {
  .descriptionContainer {
    width: 100%;
    font-size: 1.1rem;
  }
  .pageHeading {
    letter-spacing: 0;
    padding-top: 1rem;
    font-size: 4rem;
  }
}

.backsplashImage {
  height: 100vh !important;
}
