.portalPageHeaderLayout {
  position: sticky;
  top: 0;
  left: 0;
  max-width: 100dvw;
  height: 60px;
  display: flex;
  background-color: #dddddd;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
  z-index: 100;
}

.active {
  font-weight: 600;
}
.portalPageHeader {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 500;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > div {
    font-weight: 400;
    > div {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
}

.profilePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tableContainer {
  overflow-x: auto;
  border-radius: 0.5rem;
  border: 2px solid #e5e7eb;
  width: calc(100dvw - 48px);

  table {
    width: 100%;
    min-width: 100%;
    background-color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      text-align: left;

      tr {
        th {
          white-space: nowrap;
          padding: 0.5rem 1rem;
          font-size: 0.95rem;
          font-weight: 600;
          color: #1f2937;
        }
      }
    }

    tbody {
      tr {
        height: 100px;
        td {
          position: relative;
          white-space: nowrap;
          padding: 0.5rem 1rem;
          color: #374151;

          &.font-medium {
            font-weight: 500;
            color: #1f2937;
          }
        }
      }
    }

    tr {
      border-bottom: 1px solid #e5e7eb;
    }
  }
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 650;
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.tableHeaderSponsorRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}
