.signInLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portalContent {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
  width: 100vw;
  padding: 24px;
  height: calc(100vh - 60px);
  * table {
    width: 100%;
  }
}

.unverifiedPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  > a {
    text-decoration: none;
    color: black;
    background-color: beige;
    padding: 10px 20px;
    border-radius: 5px;
  }
}
