.container {
  width: 100vw;

  > img {
    z-index: -1;
  }
}

.descriptionContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px;
  width: 40%;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 1px 1px 5px black;
}

.descriptionTitle {
  text-align: center;
  font-size: 1.75em;
  -webkit-text-stroke-width: 1px;
}

.pageHeading {
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: white;
  padding-top: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: 0 0.5px 10px black;
}

.main {
  height: 100vh;
}

@supports (height: 100dvh) {
  .main {
    height: 100dvh;
  }
}

@media (max-width: 1024px) {
  .descriptionContainer {
    width: 100%;
    font-size: 1em;
  }
  .pageHeading {
    letter-spacing: 0;
    padding-top: 1em;
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .pageHeading {
    font-size: 3em;
  }
}

@media screen and (max-height: 768px) {
  .pageHeading {
    padding-top: 1em;
  }
  .descriptionTitle {
    font-size: 1.5em;
  }
  .descriptionContainer {
    font-size: 1.1em;
  }
}