.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  color: #6c6a7a;
  height: 5rem;
  border-radius: 30px;
  font-size: 16px;
  width: 100%;

  > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #6c6a7a;
    color: black;
    height: 36px;
    border-radius: 3px 0 0 3px;
    padding: 0 0.75rem 0 0.75rem;
    gap: 1rem;
  }
}

.dropdown {
  display: flex;
  align-items: center;
  border: 1px solid #6c6a7a;
  color: #6c6a7a;
  height: max-content;
  width: 100%;
  border-radius: 5px;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;

  > span:not(:last-child) {
    border-bottom: 1px solid #6c6a7a;
  }

  > span {
    width: 100%;
    text-align: center;
  }

  > span:hover {
    background-color: #e1dedd;
    color: black;
    cursor: pointer;
  }
}

.arrowsContainer {
  display: flex;
  flex-direction: row;
  > span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    border: 1px solid #6c6a7a;
    border-right: none;
    border-left: none;
    height: 36px;
    font-weight: 350;
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-primary);
    color: var(--color-white);
    border-left: 1px solid #6c6a7a;
    border-top: 1px solid #6c6a7a;
    border-bottom: 1px solid #6c6a7a;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;

    height: 36px;
    width: 36px;

    &:first-child {
      border: 1px solid #6c6a7a;
      border-right: none;
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border: 1px solid #6c6a7a;
      border-radius: 0 3px 3px 0;
    }

    &:hover {
      background-color: #d9dbe4;
    }
  }
}

.chevron {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}
