.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100dvw;
  color: white;
  padding: 20px 40px 0 20px;

  div {
    display: flex;
  }

  img {
    filter: drop-shadow(2px 2px 6px #000000);
    cursor: pointer;
  }

  a {
    white-space: nowrap;
  }

  column-gap: 5px;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 20px 20px 0 20px;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}

.chevron {
  fill: white;
  filter: drop-shadow(2px 2px 10px #000000);
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.hamburgerMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0; /* Start with 0 height */
  background-color: rgba(0, 0, 0, 0); /* Start with transparent */
  z-index: 2;
  transition:
    height 0.5s ease,
    background-color 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;

  a {
    pointer-events: none;
  }
}

.hamburgerMenu.open {
  opacity: 1;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9); /* Fade to black */
  font-size: 2.5em;

  a {
    pointer-events: all;
  }
}

.hamburgerMenu.closed {
  opacity: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0); /* Start with transparent */
  pointer-events: none; // Ensure no interactions during closing
  transition:
    height 0.5s ease,
    background-color 0.5s ease,
    opacity 0.5s ease;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.link {
  text-transform: uppercase;
  font-size: 1.2em;
  text-shadow: 0 0.5px 10px black;
  text-underline-offset: 4px;
  &.active {
    text-decoration-line: underline;
    text-decoration-color: var(--primary-helios);
    text-decoration-thickness: 3px;
  }
}

@supports (height: 100dvh) {
  .hamburgerMenu.open {
    height: 100dvh;
  }
}
