.container {
  width: 100dvw;
  position: relative;

  > img {
    z-index: -1;
  }
}

.descriptionLeft {
  left: 0;
}

.descriptionRight {
  right: 0;
}

.descriptionContainer {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  padding: 40px;
  width: 40%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 1px 1px 5px black;
}

.descriptionTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.75em;
  -webkit-text-stroke-width: 1px;
  gap: 16px;
}

.descriptionContent {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

.descriptionContent.show {
  max-height: 500px; /* Adjust this value based on your content's height */
  opacity: 1;
}

.pageHeading {
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: white;
  padding-top: 2.5em;
  letter-spacing: 0.1em;
  text-shadow: 0 0.5px 10px black;
}

@media (max-width: 1024px) {
  .descriptionContainer {
    width: 100%;
  }
  .pageHeading {
    letter-spacing: 0;
  }
}

.snapContainer {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth; /* Smooth snapping */
}

.snapItem {
  scroll-snap-align: start;
  height: 100vh;
}

.backsplashImage {
  height: 100vh !important;
}

@supports (height: 100dvh) {
  .snapContainer {
    height: 100dvh;
  }
  .snapItem {
    height: 100dvh;
  }
  .backsplashImage {
    height: 100dvh !important;
  }
}
