.dropzoneContainer {
  border: 2px dashed #d1d5db;
  border-radius: 0.5rem;
  padding: 3rem;
  text-align: center;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 0.25s;
  position: relative;

  img {
    opacity: 25%;
  }

  &:hover {
    svg {
      transition: fill 0.25s;
      fill: #121212;
    }
    border-color: #3b82f6;
  }

  input {
    display: none;
  }
}

.label {
  z-index: 2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.headerText {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #374151;
  text-wrap: wrap;
}

.fileSupport {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280;
  text-wrap: wrap;
}
