.container {
  // width: 100vw;
  position: relative;
  background-color: #121212;
  text-align: center;
  color: white;
  padding: 2rem 12rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.description {
  font-size: 1.25rem;
}

@media (max-width: 1024px) {
  .container {
    padding: 2rem 2rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .description {
    font-size: 1.25rem;
  }
}

.teamMembersContainer {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.teamManagers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
}

.teamRoleContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.teamMembers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .teamManagers {
    grid-template-columns: 1fr;
  }
  .teamMembers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .teamManagers {
    grid-template-columns: 1fr;
  }
  .teamMembers {
    grid-template-columns: 1fr;
  }
}
