.container {
  width: 100dvw;

  > img {
    z-index: -1;
  }
}

.descriptionTitle {
  text-align: center;
  font-size: 1.75em;
  -webkit-text-stroke-width: 1px;
}

.pageHeading {
  width: 100%;
  text-align: center;
  font-size: 5em;
  padding-top: 0.5em;
  letter-spacing: 0.1em;
}

@media (max-width: 1024px) {
  .descriptionContainer {
    width: 100%;
  }
  .pageHeading {
    font-size: 1.75em;
    padding-top: 2em;
    letter-spacing: 0;
  }
  .descriptionTitle {
    font-size: 1.25em;
  }
}

.leadSponsorLogo {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  > img {
    filter: drop-shadow(1px 1px 6px #000000);
  }
}

.otherSponsors {
  color: black;
  background-color: white;
  margin-top: 11%;
  padding: 0 1rem;
  border-radius: 50px 50px 0 0;
}

.seperator {
  border-bottom: 1px solid white;
  width: 90%;
  height: 1px;
  padding-top: 32px;
  display: flex;
  margin: auto;
}

.sponsorContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sponsor {
  height: 125px;
  position: relative;
  width: 100%;
}
